name: Notifications
on:
  workflow_call:
    inputs:
      message:
        required: true
        type: string
      subject:
        required: true
        type: string
      body:
        required: true
        type: string
    secrets:
      token:
        required: true
      to:
        required: true
      mail_username:
        required: true
      mail_password:
        required: true
jobs:
  notify:
    name: Notification
    runs-on: ubuntu-latest
    steps:
    - name: send custom message with args
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.to }}
        token: ${{ secrets.token }}
        args: ${{ inputs.message }} 
        format: "markdown"
    - name: Send mail
      uses: dawidd6/action-send-mail@v3
      with:
        username: ${{ secrets.mail_username }}
        password: ${{ secrets.mail_password }}
        server_address: smtp.gmail.com
        server_port: 465
        subject: ${{ inputs.subject }}
        to: reinerrubin2020@gmail.com
        from: "Exam homework notifications"
        secure: true
        body: ${{ inputs.body }}
        
